[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
python-decouple = "*"
channels = "*"
psycopg2-binary = "*"
pillow = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
